In [1]:
import os
import sys
import numpy as np
import pandas as pd

In [2]:
BASE_DIR = "/notebooks/data/LFWA+/COMPILED"
ORIG_CSV = "compiled_lfwa+.csv"
LIGH_PAIRS = "compiled_lfwa+_light_pairs.csv"
DARK_PAIRS = "compiled_lfwa+_dark_pairs.csv"
ALL_PAIRS = "compiled_lfwa+_all_pairs.csv"

In [47]:
df = pd.read_csv("{}/{}".format(BASE_DIR, ORIG_CSV))

In [50]:
df['image_id'] = df.groupby('file_path').grouper.group_info[0]

In [51]:
df_light = df.loc[df['binary_race'] == 'light'].copy()

In [6]:
df_dark = df.loc[df['binary_race'] == 'dark'].copy()

In [7]:
df_light['gid'] = df_light.groupby('name').grouper.group_info[0]

In [8]:
df_dark['gid'] = df_dark.groupby('name').grouper.group_info[0] + df_light['gid'].unique().max() + 1

In [9]:
df_light['y_match_per_group'] = 1

In [10]:
df_dark['y_match_per_group'] = 1

In [11]:
def getRandomBaseGid(exclude_gid, min_gid, max_gid):
    return np.random.choice(np.setdiff1d(range(min_gid, max_gid), exclude_gid))

In [12]:
base_group_ids_light = df_light['gid'].unique()
min_base_gid_light = base_group_ids_light.min()
max_base_gid_light = base_group_ids_light.max()

In [13]:
new_gid_light = df_dark['gid'].unique().max() + 1

In [14]:
mixed_light = {}
num_mix_per_group = 1
df_light_finalized = df_light.copy()
for gid in base_group_ids_light:
    for i in range(0, num_mix_per_group):
        mix_with = None
        if gid not in mixed_light:
            mix_with = getRandomBaseGid([], min_base_gid_light, max_base_gid_light)
            # print("Mix {} with {}".format(gid, mix_with))
            mixed_light[gid] = [mix_with]
        else:
            mix_with = getRandomBaseGid(mixed[gid], min_base_gid_light, max_base_gid_light)
            # print("Mix {} with {} - Exclude {}".format(gid, mix_with, mixed_light[gid]))
            mixed_light[gid].append(mix_with)
        # print("New Group {}".format(new_gid_light))
        im1 = df_light.loc[df_light['gid'] == gid].sample(1).copy()
        im2 = df_light.loc[df_light['gid'] == mix_with].sample(1).copy()
        im1['gid'] = new_gid_light
        im2['gid'] = new_gid_light
        im1['y_match_per_group'] = 0
        im2['y_match_per_group'] = 0
        df_light_finalized = pd.concat([df_light_finalized, im1, im2], ignore_index = True) 
    new_gid_light += 1
df_light_finalized.reset_index(drop=True)

,name,file_path,binary_race,image_id,gid,y_match_per_group
0,Aaron_Peirsol,Aaron_Peirsol/Aaron_Peirsol_0001.jpg,light,0,0,1
1,Aaron_Peirsol,Aaron_Peirsol/Aaron_Peirsol_0002.jpg,light,1,0,1
2,Aaron_Sorkin,Aaron_Sorkin/Aaron_Sorkin_0001.jpg,light,2,1,1
3,Aaron_Sorkin,Aaron_Sorkin/Aaron_Sorkin_0002.jpg,light,3,1,1
4,Abdullah,Abdullah/Abdullah_0001.jpg,light,6,2,1
...,...,...,...,...,...,...
227,Alimzhan_Tokhtakhounov,Alimzhan_Tokhtakhounov/Alimzhan_Tokhtakhounov_...,light,78,171,0
228,Andrew_Niccol,Andrew_Niccol/Andrew_Niccol_0002.jpg,light,121,172,0
229,Al_Pacino,Al_Pacino/Al_Pacino_0002.jpg,light,39,172,0
230,Andrew_Weissmann,Andrew_Weissmann/Andrew_Weissmann_0001.jpg,light,122,173,0
231,Ai_Sugiyama,Ai_Sugiyama/Ai_Sugiyama_0002.jpg,light,29,173,0

In [15]:
df_light_finalized.to_csv("{}/{}".format(BASE_DIR, LIGH_PAIRS), index=False)

In [16]:
new_gid_dark = df_light_finalized['gid'].unique().max() + 1

In [17]:
base_group_ids_dark = df_dark['gid'].unique()
min_base_gid_dark = base_group_ids_dark.min()
max_base_gid_dark = base_group_ids_dark.max()

In [18]:
mixed_dark = {}
num_mix_per_group = 1
df_dark_finalized = df_dark.copy()
for gid in base_group_ids_dark:
    for i in range(0, num_mix_per_group):
        mix_with = None
        if gid not in mixed_dark:
            mix_with = getRandomBaseGid([], min_base_gid_dark, max_base_gid_dark)
            # print("Mix {} with {}".format(gid, mix_with))
            mixed_dark[gid] = [mix_with]
        else:
            mix_with = getRandomBaseGid(mixed[gid], min_base_gid_dark, max_base_gid_dark)
            # print("Mix {} with {} - Exclude {}".format(gid, mix_with, mixed_dark[gid]))
            mixed_dark[gid].append(mix_with)
        # print("New Group {}".format(new_gid_dark))
        im1 = df_dark.loc[df_dark['gid'] == gid].sample(1).copy()
        im2 = df_dark.loc[df_dark['gid'] == mix_with].sample(1).copy()
        im1['gid'] = new_gid_dark
        im2['gid'] = new_gid_dark
        im1['y_match_per_group'] = 0
        im2['y_match_per_group'] = 0
        df_dark_finalized = pd.concat([df_dark_finalized, im1, im2], ignore_index = True) 
    new_gid_dark += 1
df_dark_finalized.reset_index(drop=True)

,name,file_path,binary_race,image_id,gid,y_match_per_group
0,Abdel_Nasser_Assidi,Abdel_Nasser_Assidi/Abdel_Nasser_Assidi_0001.jpg,dark,4,58,1
1,Abdel_Nasser_Assidi,Abdel_Nasser_Assidi/Abdel_Nasser_Assidi_0002.jpg,dark,5,58,1
2,Abid_Hamid_Mahmud_Al-Tikriti,Abid_Hamid_Mahmud_Al-Tikriti/Abid_Hamid_Mahmud...,dark,10,59,1
3,Abid_Hamid_Mahmud_Al-Tikriti,Abid_Hamid_Mahmud_Al-Tikriti/Abid_Hamid_Mahmud...,dark,11,59,1
4,Allyson_Felix,Allyson_Felix/Allyson_Felix_0001.jpg,dark,82,61,1
...,...,...,...,...,...,...
227,Al_Sharpton,Al_Sharpton/Al_Sharpton_0001.jpg,dark,40,229,0
228,Vince_Carter,Vince_Carter/Vince_Carter_0002.jpg,dark,229,230,0
229,Leander_Paes,Leander_Paes/Leander_Paes_0002.jpg,dark,187,230,0
230,Vivica_Fox,Vivica_Fox/Vivica_Fox_0001.jpg,dark,230,231,0
231,Leander_Paes,Leander_Paes/Leander_Paes_0001.jpg,dark,186,231,0

In [19]:
df_dark_finalized.to_csv("{}/{}".format(BASE_DIR, DARK_PAIRS), index=False)

In [20]:
df_all_pairs = pd.concat([df_light_finalized, df_dark_finalized], ignore_index = True) 
df_all_pairs.reset_index(drop=True)
df_all_pairs.to_csv("{}/{}".format(BASE_DIR, ALL_PAIRS), index=False)